<!DOCTYPE html>
<html lang="en">

<!-- header from partials/ -->
<%- include ('partials/header.ejs') -%>


    <script src="https://igv.org/web/release/2.1.0/dist/igv.min.js"></script>
    <div>
        <h1>Testing IGV.js</h1>

        <div id="igv-div" style="padding-top: 10px;padding-bottom: 10px; border:1px solid lightgray"></div>

        <script type="text/javascript">
            var igvDiv = document.getElementById("igv-div");

            var options = {
                "locus": "ordered_PKNH_01_v2:1-892,570",

                "reference": {
                    "id": "P. knowlesi",
                    "fastaURL": "https://www.dropbox.com/s/jbcf4wyvef0mglp/strain_A1_H.1.Icor.fasta",
                    "indexURL": "https://www.dropbox.com/s/gv03eq28ta4gco3/strain_A1_H.1.Icor.fasta.fai",
                    // "fastaURL": "https://www.dropbox.com/s/qrlwtygej3z439i/PlasmoDB-52_PknowlesiH_Genome.fasta",
                    // "indexURL": "https://www.dropbox.com/s/egfr5xxe3j56wu9/PlasmoDB-52_PknowlesiH_Genome.fasta.fai",

                    "tracks": [
                        {
                            "name": "GFF3 - annotation",
                            "nameField": "ID",
                            // "type": "annotation",
                            "format": "gff3",
                            "url": "https://www.dropbox.com/s/hjoin75wiwr10y0/out.sorted.gff3.gz",
                            "indexURL": "https://www.dropbox.com/s/yi0vwiu839wupie/out.sorted.gff3.gz.tbi",
                            "displayMode": "EXPANDED",
                            "indexed": true,
                            // "supportsWholeGenome": true,
                            "labelAllFeatures": true

                            //  "color": "rgb(5,75,180)"  // change track col

                        },
                        // {
                        //     "name": "annotation",
                        //     "type": "annotation",
                        //     "format": "gff",
                        //    // "url": "https://www.dropbox.com/s/bk1nic530j5lk4x/PlasmoDB-52_PknowlesiH.gff",
                        //     //  "indexURL": "https://www.dropbox.com/s/yi0vwiu839wupie/out.sorted.gff3.gz.tbi", 
                        //     "displayMode": "EXPANDED",
                        //     "indexed": false,
                        //     // "supportsWholeGenome": true,
                        //     "labelAllFeatures": true

                        //     //  "color": "rgb(5,75,180)"  // change track col

                        // }

                        // THIS TAKES TOO MUCH TIME!!!
                        {
                            "type": "variant",
                            "format":"vcf",
                            "url": "https://www.dropbox.com/s/gpysbmdaf07k4n4/ERR274221_bqsr.vcf.gz",
                            "indexURL": "https://www.dropbox.com/s/62qlspddnynhcue/ERR274221_bqsr.vcf.gz.tbi?dl=0",
                            "name": "ERR274221",

                        }


                    ]
                }
            };


            igv.createBrowser(igvDiv, options)
                .then(function (browser) {
                    console.log("Created IGV browser");
                })

        </script>
<!-- 
        <body>
            <h1>Local File Test</h1>
            <div>
                <script type="text/javascript">
                    var igvDiv = document.getElementById("igv-div");
                    var options =
                    {
                        //     genome: "hg38",
                        //     locus: "chr8:127,736,588-127,739,371",

                        //     // tracks: [
                        //     //     {
                        //     //         "name": "HG00103",
                        //     //         "url": "https://s3.amazonaws.com/1000genomes/data/HG00103/alignment/HG00103.alt_bwamem_GRCh38DH.20150718.GBR.low_coverage.cram",
                        //     //         "indexURL": "https://s3.amazonaws.com/1000genomes/data/HG00103/alignment/HG00103.alt_bwamem_GRCh38DH.20150718.GBR.low_coverage.cram.crai",
                        //     //         "format": "cram"
                        //     //     }
                        //     // ]
                        // };


                        //// NEW

                        "reference": {
                            //     "id": "ASM294v2",
                            //     "name": "S. pombe (ASM294v2)",
                            //     "fastaURL": "https://s3.amazonaws.com/igv.org.genomes/S.pombe_ASM294v2/Schizosaccharomyces_pombe_all_chromosomes.fa",
                            //     "indexURL": "https://s3.amazonaws.com/igv.org.genomes/S.pombe_ASM294v2/Schizosaccharomyces_pombe_all_chromosomes.fa.fai",
                            //     "tracks": [
                            //         {
                            //             "name": "Pombase forward strand",
                            //             "type": "annotation",
                            //             "format": "gff3",
                            //             "displayMode": "EXPANDED",
                            //             "url": "https://s3.amazonaws.com/igv.org.genomes/S.pombe_ASM294v2/Schizosaccharomyces_pombe_all_chromosomes.plus.gff3.gz",
                            //             "indexed": false,
                            //             "supportsWholeGenome": true,
                            //             "labelAllFeatures": true,
                            //             "height": 150,
                            //             "color": "rgb(5,75,180)"
                            //         },
                            //         {
                            //             "name": "Pombase reverse strand",
                            //             "type": "annotation",
                            //             "format": "gff3",
                            //             "displayMode": "EXPANDED",
                            //             "url": "https://s3.amazonaws.com/igv.org.genomes/S.pombe_ASM294v2/Schizosaccharomyces_pombe_all_chromosomes.minus.gff3.gz",
                            //             "indexed": false,
                            //             "supportsWholeGenome": true,
                            //             "height": 150,
                            //             "color": "rgb(7,123,220)",
                            //             "nameField": "gene"

                            //         }
                            //     ]
                            // }};


                            "id": "ASM985889v3",
                            "name": "Sars-CoV-2 (ASM985889v3)",
                            "fastaURL": "https://s3.amazonaws.com/igv.org.genomes/covid_ASM985889v3/GCF_009858895.2_ASM985889v3_genomic.fna",
                            "indexURL": "https://s3.amazonaws.com/igv.org.genomes/covid_ASM985889v3/GCF_009858895.2_ASM985889v3_genomic.fna.fai",
                            // "order": 1000000,
                            "tracks": [
                                {
                                    "name": "Annotations",
                                    "url": "https://s3.amazonaws.com/igv.org.genomes/covid_ASM985889v3/GCF_009858895.2_ASM985889v3_genomic.gff.gz",
                                    "displayMode": "EXPANDED",
                                    "nameField": "gene",
                                    "height": 150
                                }
                            ]
                        }
                    };

                    igv.createBrowser(igvDiv, options)
                        .then(function (browser) {
                            console.log("Created IGV browser");
                        })
                </script>
            </div>
        </body> -->
    </div>

</html>