<!--                  Footer                  -->
<footer>
    <div>Developed by Elisabetta Galatola | Cranfield University | MSc Applied Bioinformatics 2020-2021 | In collaboration with the London School of Hygiene and Tropical Medicine</a></div>
</footer>