<!--                  Header                  -->
<section>

    <head>
        <meta charset="UTF-8" , name="viewport" content="width=device-width" , initial-scale=1.0>
        <!-- make responsive-->
        <title>PlasmoVis</title>
        <link rel="stylesheet" href="css/main.css"> <!-- link css -->

        <!-- link google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap"
            rel="stylesheet">

        <!-- favicon -->
        <link rel="shortcut icon" href="img/favicon.ico"/>

    </head>

    <noscript>Enable JavaScript to view full site.</noscript> <!-- if java is not activated -->

    <section class=header>
        <!-- Top navigation -->
        <div class="topnav">
            <!-- Left-aligned links (default) -->
            <a href="/index"><img src="img/plasmoVis_logo.png"></a>
            <!-- Right-aligned links -->
            <div class="topnav-right">
                <a href="/igv">GENOME BROWSER</a>
                <a href="/data">DATA</a>
                <a href="/about">ABOUT</a>
                <a href="/help">HELP </a>
                <a href="/index" class="active">HOME</a>
            </div>
        </div>
    </section>
</section>