<!-- try this: https://docs.anychart.com/Maps/Tooltips -->

<div id="anychart-embed-custom-world" class="anychart-embed anychart-embed-custom-world">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/geodata/2.1.1/custom/world/world.js"></script>

    <script>(function () {
            function ac_add_to_head(el) {
                var head = document.getElementsByTagName('head')[0];
                head.insertBefore(el, head.firstChild);
            }
            function ac_add_link(url) {
                var el = document.createElement('link');
                el.rel = 'stylesheet'; el.type = 'text/css'; el.media = 'all'; el.href = url;
                ac_add_to_head(el);
            }
            function ac_add_style(css) {
                var ac_style = document.createElement('style');
                if (ac_style.styleSheet) ac_style.styleSheet.cssText = css;
                else ac_style.appendChild(document.createTextNode(css));
                ac_add_to_head(ac_style);
            }
            ac_add_link('https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css');
            //ac_add_style(document.getElementById("ac_style_custom-world").innerHTML);
           // ac_add_style(".anychart-embed-custom-world{width:600px;height:450px; align:center;}");
        })();</script>
    <!-- 
<div class="grid-container" style="display:grid;grid-template-columns: 1fr 1fr;"> Prova prova
          <div class="first-grid" id="container_map" style="width:50%;float:left;padding:20px;border:2px solid red;"></div>
    </div> -->

    <div id='container-map'></div>

    <script>
        anychart.onDocumentReady(function () {
            // create map
            var map = anychart.map();

            // zoom control
            // var zoomController = anychart.ui.zoom();
            // zoomController.target(map);
            // zoomController.render();

            // create data set
            var dataSet = anychart.data.set(
                [
                    { "id": "MY", "value": 128 } // samples are only coming from malaysia
                ]
            );

            map.listen('pointClick', function (e) {
                map.zoomToFeature(e.point.get('id'));
            })

            // create choropleth series
            series = map.choropleth(dataSet);

            // set geoIdField to 'id', this field contains in geo data meta properties
            series.geoIdField('id');

            // set map color settings
            series.colorScale(anychart.scales.linearColor('#deebf7', '#3182bd'));
            series.hovered().fill('#addd8e');

            // set geo data, you can find this map in our geo maps collection
            // https://cdn.anychart.com/#maps-collection
            map.geoData(anychart.maps['world']);

            //set map container id (div)
            map.container('container-map');

            //initiate map drawing
            map.draw();
        });
    </script>
</div>