<thead>
    <tr>
        <th title="Field #1">Sample</th>
        <th title="Field #2">Location</th>
        <th title="Field #3">Group</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>DBPalpha._Ko_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>Duffy_negative_adapted_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR2214837_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214838_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214839_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214840_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214841_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214842_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214843_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214844_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214845_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214846_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214847_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214848_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214849_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214850_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214851_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214852_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214853_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214854_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214855_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214856_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR2214857_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR274221_bqsr</td>
        <td>Sarikei</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR274222_bqsr</td>
        <td>Sarikei</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR274224_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR274225_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR3374031_bqsr</td>
        <td>Gua Musang</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374032_bqsr</td>
        <td>Gua Musang</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374033_bqsr</td>
        <td>Gua Musang</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374034_bqsr</td>
        <td>Gua Musang</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374035_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374036_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374037_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374038_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374039_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374040_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374041_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374042_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374043_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374044_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374045_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374046_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374047_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374048_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374049_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374050_bqsr</td>
        <td>Kuala Lipis</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374051_bqsr</td>
        <td>Sungai Siput</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374052_bqsr</td>
        <td>Sungai Siput</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374053_bqsr</td>
        <td>Sungai Siput</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374054_bqsr</td>
        <td>Sungai Siput</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374055_bqsr</td>
        <td>Temerloh</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374056_bqsr</td>
        <td>Temerloh</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374057_bqsr</td>
        <td>Taiping</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR3374058_bqsr</td>
        <td>Taiping</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>ERR366425_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR366426_bqsr</td>
        <td>Sarikei</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985372_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985373_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985374_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985375_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985376_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985377_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985378_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985379_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985380_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985381_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985382_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985383_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985384_bqsr</td>
        <td>Betong</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985385_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985386_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985387_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985388_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985389_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985390_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985391_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985392_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985393_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985394_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985395_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985396_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985397_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985398_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985399_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985400_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985401_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985402_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985403_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985404_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985405_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985406_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985407_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985408_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985409_bqsr</td>
        <td>Kapit</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>ERR985410_bqsr</td>
        <td>Betong</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985411_bqsr</td>
        <td>Betong</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985412_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985413_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985414_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985415_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985416_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985417_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985418_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>ERR985419_bqsr</td>
        <td>Kapit</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>KEL30004_bqsr</td>
        <td>Johor</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>KTLT009_bqsr</td>
        <td>Kelantan</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>Mahidol_WT_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>NBPXa_Ko_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>NPBXa_KO_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>NPBXa__mNa_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>PKAP_KK41_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAP_KK48_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAP_MK34_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAP_QEM265_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAP_QEM639_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAP_QEM687_bqsr</td>
        <td>Sabah</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>PKAS09_com_bqsr</td>
        <td>Sabah</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>PKAS10_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAS11_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAS12_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAS13_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAS14_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAS15_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>PKAS16_com_bqsr</td>
        <td>Sabah</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>SEL3001_bqsr</td>
        <td>Selangor</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>SRR2221468_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>SRR2222335_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>SRR2225467_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>SRR2225571_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>SRR2225573_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>SRR3135172_bqsr</td>
        <td>Clinic/Lab</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>UM02_bqsr</td>
        <td>NA</td>
        <td>Pen-Pk</td>
    </tr>
    <tr>
        <td>sks047_B_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>sks074_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>sks133_bqsr</td>
        <td>Sarikei</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>sks330_bqsr</td>
        <td>Sarikei</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>sks331_bqsr</td>
        <td>Sarikei</td>
        <td>Mf-Pk</td>
    </tr>
    <tr>
        <td>sks333_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>sks_339_bqsr</td>
        <td>Sarikei</td>
        <td>Mn-Pk</td>
    </tr>
    <tr>
        <td>swga_0137_f_bqsr</td>
        <td>Peninsula</td>
        <td>Pen-Pk</td>
    </tr>
</tbody>
<tfoot></tfoot>