<!-- generated using https://www.convertjson.com/json-to-html-table.htm -->
<thead>
    <tr>
        <th title="Field #1">Sample</th>
        <th title="Field #2">Country</th>
        <th title="Field #3">Continent</th>
        <th title="Field #4">Year</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>PM_AGO_001</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_AGO_002</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_AGO_003</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_AGO_004_com</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_AGO_006</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2001</td>
    </tr>
    <tr>
        <td>PM_AGO_007</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2005</td>
    </tr>
    <tr>
        <td>PM_AGO_009</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_AGO_010</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_AGO_012</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_AGO_013</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_BRA_001</td>
        <td>Brazil</td>
        <td>Americas</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_BRA_002</td>
        <td>Brazil</td>
        <td>Americas</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_BRA_004</td>
        <td>Brazil</td>
        <td>Americas</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_BRA_005</td>
        <td>Brazil</td>
        <td>Americas</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_BRA_007</td>
        <td>Brazil</td>
        <td>Americas</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_BRA_013</td>
        <td>Brazil</td>
        <td>Americas</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_CAF_001</td>
        <td>Central African Republic</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_CIV_001</td>
        <td>Ivory Coast</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_CMR_001</td>
        <td>Cameroon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_CMR_002</td>
        <td>Cameroon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_CMR_003</td>
        <td>Cameroon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_CMR_004</td>
        <td>Cameroon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_CMR_006</td>
        <td>Cameroon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_CMR_007</td>
        <td>Cameroon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COD_001</td>
        <td>Democratic Republic of Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_001</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_002</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_003</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_004</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_005</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_006</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_COG_008</td>
        <td>Congo</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_DZA_001</td>
        <td>Algeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_002</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_003</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_004</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_005</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_006</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_007</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_009</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_011</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_013</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_015</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_016</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GAB_018</td>
        <td>Gabon</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GHA_001</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GHA_002</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_GHA_003</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_GHA_004_com</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GHA_005</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_GHA_006</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_GHA_007</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_GHA_008</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_GHA_009</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_GHA_010</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2011</td>
    </tr>
    <tr>
        <td>PM_GHA_011</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GHA_012</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_GHA_014</td>
        <td>Guinea</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_GHA_015</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_GHA_016</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_GIN_001</td>
        <td>Ghana</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_GIN_002</td>
        <td>Guinea</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_GMB_001</td>
        <td>The Gambia</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_GNQ_001_com</td>
        <td>Equitorial Guinea</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_KEN_001</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_KEN_003</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_KEN_004</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_KEN_006</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2018</td>
    </tr>
    <tr>
        <td>PM_KEN_007_com</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_KEN_008</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_KEN_009</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_KEN_010</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_KEN_011</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_KEN_012</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_KEN_013</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_KEN_014</td>
        <td>Kenya</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_LAO_001</td>
        <td>Laos</td>
        <td>Asia</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_LBR_002</td>
        <td>Liberia</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_LBR_003</td>
        <td>Liberia</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_MOZ_001</td>
        <td>Mozambique</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_MWI_001</td>
        <td>Malawi</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_MWI_002</td>
        <td>Malawi</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_MWI_003</td>
        <td>Malawi</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_MWI_004</td>
        <td>Malawi</td>
        <td>Africa</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>PM_MWI_005_com</td>
        <td>Malawi</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_MWI_006</td>
        <td>Malawi</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_NGA_001</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_002</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_003</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_004</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_005</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_006</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_007</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_008</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_009</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_NGA_010</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_NGA_011</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_NGA_012</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_NGA_013_com</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_NGA_014</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>PM_NGA_015</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2010</td>
    </tr>
    <tr>
        <td>PM_NGA_016_com</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_NGA_017_com</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_NGA_019</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2011</td>
    </tr>
    <tr>
        <td>PM_NGA_021</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_022</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_023</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_024</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_025</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_026</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_027</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_028</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_NGA_029</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>2018</td>
    </tr>
    <tr>
        <td>PM_NGA_031</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_NGA_033</td>
        <td>Nigeria</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_PNG_001</td>
        <td>Papua New Guinea</td>
        <td>Australasia</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_SDN_001</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>S1085</td>
    </tr>
    <tr>
        <td>PM_SDN_002</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SDN_003</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SDN_004_com</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SDN_005</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SDN_006</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SDN_007</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SDN_008</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>??</td>
    </tr>
    <tr>
        <td>PM_SDN_009</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>PM_SDN_010</td>
        <td>Sudan</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SEA_001</td>
        <td>Southeast Asia</td>
        <td>Asia</td>
        <td>2018</td>
    </tr>
    <tr>
        <td>PM_SEN_001</td>
        <td>Senegal</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SLE_001</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>PM_SLE_002</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_SLE_003_com</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SLE_004</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_SLE_005</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_SLE_007</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SLE_008</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_SLE_011_com</td>
        <td>Sierra Leone</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_THA_001</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_002</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_003</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_004</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_005</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1998</td>
    </tr>
    <tr>
        <td>PM_THA_006</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_008_com</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>PM_THA_009</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>PM_THA_010</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_011</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>PM_THA_012</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>PM_THA_013</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>PM_THA_014</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_015</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_016</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>PM_THA_018</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_019</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_020_com</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>1999</td>
    </tr>
    <tr>
        <td>PM_THA_021</td>
        <td>Thailand</td>
        <td>Asia</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_TZA_001_com</td>
        <td>Tanzania</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_TZA_026</td>
        <td>Tanzania</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_UGA_001</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_UGA_003</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_UGA_004</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_UGA_005</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>PM_UGA_007</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2010</td>
    </tr>
    <tr>
        <td>PM_UGA_008</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2010</td>
    </tr>
    <tr>
        <td>PM_UGA_009</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2011</td>
    </tr>
    <tr>
        <td>PM_UGA_010</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>PM_UGA_011</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_UGA_012</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_UGA_013</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>PM_UGA_014</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_UGA_015</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM_UGA_016</td>
        <td>Uganda</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>PM0015_lshtm</td>
        <td>Angola</td>
        <td>Africa</td>
        <td>NA</td>
    </tr>
</tbody>
</table>