<!DOCTYPE html>
<html lang="en">

<!-- header from partials/ -->
<%- include ('partials/header.ejs') -%>

    <body>
        <section class="description">
            <img src="img/plasmoVis_logo.png">

            <p>

                PlasmoVis is a web-based visualization tool developed to assist with the analysis and visualisation of
                <i>Plasmodium malariae</i> variants.<br>
                PlasmoVis specifically aims to interrogate the genomic variation of <i>P. malariae</i> parasites,
                improve the understanding of the complexity and variability of this specie and assist the process of
                drug discovery, surveillance and malaria eradication.

                <br><br>PlasmoVis was initially built working with a subset of
                <i>P. knowlesi</i> samples, which can be viewed using the links below. <br>

            </p>
            <div class="row">
                <div class="col_one">
                    <h3>P. knowlesi (v1)</h3>
                    <p>Comparison of a subset of 9 samples.<br>
                        Note that this version runs slow.
                    <div class="igv_btn">
                        <a href="/igv">RUN GENOME BROWSER</a>
                    </div>
                    </p>
                </div>

                <div class="col_two">
                    <h3>P. knowlesi (v2)</h3>
                    <p>Comparison of intersected P. knowlesi samples.<br>
                        This version was adapted for P. malariae dataset.

                    </p>
                    <div class="igv_btn">
                        <a href="/igv_Pk">RUN GENOME BROWSER</a>
                    </div>
                </div>

                <div class="col_three">
                    <h3>P. knowlesi Data</h3>
                    <p>P. knowlesi sample information<br>displayed in the form of charts and tables.<br>
                    </p>
                    <div class="igv_btn">
                        <a href="/data_pk">INSPECT DATA</a>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <!-- footer from partials/ -->
    <%- include ('partials/footer.ejs') -%>

</html>