<!DOCTYPE html>
<html lang="en">

<!-- header from partials/ -->
<%- include ('partials/header.ejs') -%>
    <!--embedding IGV.js-->
    <script src="https://igv.org/web/release/2.1.0/dist/igv.min.js"></script>

    <div>

        <!-- <h1>Genomic Variant Browser (P. knowlesi)</h1> -->
        <div id="igv-div" style="padding-top: 10px;padding-bottom: 10px; border:1px solid lightgray"></div>

        <!--IGV.js script-->
        <script type="text/javascript">
            var igvDiv = document.getElementById("igv-div");

            var options = {
                "locus": "PKNH_MIT_v2:1-5,957",

                "reference": {
                    "id": "P. knowlesi",
                    //"fastaURL": "https://www.dropbox.com/s/jbcf4wyvef0mglp/strain_A1_H.1.Icor.fasta",
                    "fastaURL": "http://localhost:3000/pk_data/strain_A1_H.1.Icor.fasta",
                    "indexURL": "http://localhost:3000/pk_data/strain_A1_H.1.Icor.fasta.fai",
                    //"indexURL": "https://www.dropbox.com/s/gv03eq28ta4gco3/strain_A1_H.1.Icor.fasta.fai",


                    "tracks": [
                        {
                            "name": "Gene ID",
                            "nameField": "ID",
                            "type": "annotation",
                            "format": "gff3",
                            "url": "http://localhost:3000/pk_data/out.sorted.gff3.gz",
                            "indexURL": "http://localhost:3000/pk_data/out.sorted.gff3.gz.tbi",
                            "displayMode": "EXPANDED",
                            "indexed": true,
                            "labelAllFeatures": true

                        },
                        //Mf-Pk
                        {
                            "type": "variant",
                            "format": "vcf",
                            "url": "http://localhost:3000/pk_data/intersection/Mf_Pk.vcf.gz",
                            "indexURL": "http://localhost:3000/pk_data/intersection/Mf_Pk.vcf.gz.tbi",
                            "name": "Mf-Pk",
                            "color": "#004c6d"

                        },

                        //Mn-Pk
                        {
                            "type": "variant",
                            "format": "vcf",
                            "url": "http://localhost:3000/pk_data/intersection/Mn_Pk.vcf.gz",
                            "indexURL": "http://localhost:3000/pk_data/intersection/Mn_Pk.vcf.gz.tbi",
                            "name": "Mn-Pk",
                            "color": "#6996b3"

                        },

                        //Pen-Pk
                        {
                            "type": "variant",
                            "format": "vcf",
                            "url": "http://localhost:3000/pk_data/intersection/Pen_Pk.vcf.gz",
                            "indexURL": "http://localhost:3000/pk_data/intersection/Pen_Pk.vcf.gz.tbi",
                            "name": "Pen-Pk",
                            "color": "#c1e7ff"
                        }
                    ]
                }
            };


            igv.createBrowser(igvDiv, options)
                .then(function (browser) {
                    console.log("Created IGV browser");
                })

        </script>
    </div>

    <!--  ----------------------------------GENE IDs------------------------------------------- -->

    <section class="description">
        <h3>Gene Name Search</h3>
        <p>Reference gene names ("PKNH" format) can be inspected directly on <a href="https://plasmodb.org/plasmo/app"
                target="_blank">Plasmodb</a></p>

        <a href="http://localhost:3000/vennchart">Open page in new window</a>

    </section>


    <!--  ---------------------------------- JQUERY ------------------------------------------- -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <body>
        <!-- table from partials/ -->

        <div class="row justify-content-center">
            <table id="genesTable" class="table table-striped table-bordered table-sm table-hover">
                <%- include ('partials/table_genes.ejs') -%>
            </table>

            <section class="description">
                <iframe src="http://localhost:3000/vennchart" scrolling="no" frameBorder="0"
                    style="width: 45vw ; height: 55vh; overflow: hidden"></iframe>
            </section>

        </div>



        <!-- https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


        <script src=" https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

        <script>
            $(document).ready(function () {
                //$('#metadataTable').DataTable();
                $('#genesTable').DataTable();
                //$('.dataTables_length').addClass('bs-select');
            });
        </script>
    </body>

    <!-- footer from partials/ -->

    <%- include ('partials/footer.ejs') -%>

</html>