<!DOCTYPE html>
<html lang="en">

<!-- header from partials/ -->

<%- include ('partials/header.ejs') -%>


    <!-- textbox -->
    <!-- photo credit: FreePik: https://www.freepik.com/free-photo/close-up-mosquito-sucking-blood_4283015.htm#page=1&query=mosquito&position=41 -->

    <section class="textbox">
        <h1>Welcome to PlasmoVis</h1>
        <p>The Genomic Variant Platform<br>for Plasmodium malariae species</p>
        <!--<a href="https://github.com/EG-lisy/PlasmoVis" target="_blank" class="btn">Visit Us</a>-->
        <a href="/igv_Pm20" class="btn-index">Run PlasmoVis</a>
    </section>

    <!--    DESCRIPTIONS - test   -->
    <section class="description">

        <img src="img/plasmoVis_logo.png">
        <p>

            PlasmoVis is a web-based visualization tool developed to assist with the analysis and visualisation of
            <i>Plasmodium malariae</i> variants,<br>
            specifically to interrogate the genomic variation of this specie, improve the understanding of its
            complexity and variability and assist the process of drug discovery, surveillance and malaria eradication.
        </p>

        <div class="row">
            <div class="col_one">
                <h3>Genomic Variant Browser</h3>
                <p>Browse <i>P. malariae</i> variants<br>on PlasmoVis<br><br>
                    <a href="/igv_Pm20">RUN VARIANT BROWSER</a>

                </p>
            </div>
            <div class="col_two">
                <h3>Metadata</h3>
                <p>Sample information<br>displayed in the form of charts and tables<br><br>
                    <a href="/data_pm">INSPECT DATA</a>
                </p>
            </div>
            <div class="col_three">
                <h3>P. Knowlesi Test Set</h3>
                <p>Read more about the development of<br>PlasmoVis<br><br>
                    <a href="/about">LEARN MORE</a>
                </p>
            </div>
        </div>
    </section>


    <!-- footer from partials/ -->
    <%- include ('partials/footer.ejs') -%>

</html>