
* {
    margin: 0;
    padding:0;
    font-family: helvetica;
}

/*
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../pics/mosquito.jpg);
    background-position: center;
    background-size: cover;
    position:relative;

}
*/

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    box-shadow: 0 0 25px 0 black;
}

header *{
    display:inline;
}

header img {
    margin-left: 20px;
    margin-top: 5px;
    width:230px;
}

body {
    min-height: 80vh;
    margin-left: 20px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../pics/mosquito.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    font-family: helvetica;
    margin-top:80px;
    padding:30px;
}


nav *{
    position: right;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
}


nav ul li a{
    color:black;
    text-decoration:none;
    padding: 8px 12px;
    font-size: 14px;
}

nav ul li {
    margin:10px;
}

/* nice black #333 */
.navlinks a:hover {
    color: rgb(0, 174, 255);
  }


main {
    color:white;
    text-align: center;
}

footer {
    position:fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: white;
    color: #333;
    text-align: center;
    font-size: 8px;
}

footer a{ 
    color: #333;
    text-decoration: none;
}
/*
body {
    background-image: url(../pics/mosquito.jpg);
}
*/