
* {
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif; /* from google fonts */
}

  /* =================            NAV BAR           ================= */



/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 25px 0 black;
}

.topnav img{
    width:230px;  
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 12px;
    margin-right: 5px; 
  }
  
  /* Change the color of links on hover #ddd;  */ 
  .topnav-right a:hover {
    background-color:whitesmoke; 
    color: #333;
    transition: 0.5s;
  }

  .topnav-right a::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #4daacf;
      display: block;
      margin: auto;
      transition: 0.5s; /* slower transition */
  }

  .topnav-right a:hover::after{
    width: 100%;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white; 
    padding: 8px 12px;
  }

  .topnav-right a.active::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s; /* slower transition */
  /* Right-aligned section inside the top navigation */
  }

  .topnav-right a.active:hover::after{
      width: 100%;
  }

  .topnav-right {
    float: right;
    margin-top:25px; /* wasn't aligned to the rest */
    margin-right: 10px;
    padding: 8px 5px;
  }



  /* =================            RESPONSIVE MENU             ================= */

  

  @media screen and (max-width: 600px) {
    .topnav a.active {
        position: relative;
        top: 0;
        left: 0;
        transition: 0.5s;
      }
    .topnav a, .topnav-right {
        margin-top:0;
      float: none;
      display: block;
      transform:none;
      transition: 0.5s;
    }
  }

  /* =================            Welcome box            ================= */


  .textbox{
    min-height: 50vh;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/mosquito.jpg);
    background-position: center;
    background-size: cover;
    color: white;
      /* width: 90%;
      color: #333;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%); /* center to div
      text-align: center; */
  }

  .textbox h1{
      font-size: 42px;
      font-weight:700;
  }

  .textbox p{
    margin: 10px 0 40px;
    font-size: 14;
    color: whitesmoke;
    font-weight:regular;
}

.textbox a{
    text-decoration: none;
    color: white;
}

/*  
body {
    position: relalative;
    min-height: 80vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../pics/mosquito.jpg);
    background-position: center;
    background-size: cover;
    font-family: helvetica;
    margin-top:80px;
    padding:30px;
}
*/


  /* =================            BUTTON-WELCOME            ================= */


.btn-index{
    display:inline-block;
    text-decoration: none;
    background-color: #04AA6D;
    padding: 12px 34px;
    font-size: 13px;
    position:relative;
    cursor: pointer;
}

.btn-index:hover{
    background-color:#4daacf;
    transition:0.5s;
    color:white;
}



/* =================            DESCRIPTION            ================= */

.description{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}

.description img{
  width:500px;  
}

.description h1{
    font-size: 36px;
    font-weight:700;
}

.description p{
    font-weight:200;
    color:#333;
    font-size:14px;
    line-height:20px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    margin-bottom:10%;
    display: flex;
    justify-content: space-between;
}

.row a{
  color: #333;
  font-size:12;
  text-decoration:double;
  cursor: pointer;
}

.row a:hover {
    background-color:whitesmoke; 
  text-decoration: none;
    color: #333;
    transition: 0.5s;

}


/* =================            LOGIN            ================= */

.login_btn {
  color: #333;
  font-size:12;
  text-decoration: none;
}
.login_btn a{
  color: #333;
  font-size:12;
  text-decoration: none;
  cursor: pointer;
}

.login_btn a:hover {
    background-color:whitesmoke; 
  text-decoration: none;
    color: #333;
    transition: 0.5s;

}


/* =================            FOOTER            ================= */

footer {
    position:fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: white;
    color: #333;
    text-align: center;
    font-size: 8px;
}

footer a{ 
    color: #333;
    text-decoration: none;
}


 /* =================            BUTTON-IGV            ================= */


 .btn{
  display:inline-block;
  text-decoration: none;
  background-color: #333;
  padding: 12px 34px;
  font-size: 12px;
  position:relative;
  cursor: pointer;
}

.btn{
  background-color:#333;
  transition:0.5s;
  color:white;
}

 /* =================            BUTTON-IGV            ================= */

iframe{
  overflow:hidden;
}
